<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Letsdress.Ai</title>
    <link rel="icon" href="{{ url_for('static', filename='flipkart-icon.ico') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_open.css') }}">
</head>

<body>

    <video autoplay playsinline muted loop class="background-video">
        <source src="{{ url_for('static', filename='images/opening_bg.mp4') }}" type="video/mp4">
    </video>

    <div class="content-container">
        <div class="headings">
            <h1>Letsdress.Ai</h1>
            <p>Your AI Fashion Studio</p>
        </div>
        
        <a href="{{ url_for('read_more_func') }}" class="card-link">
            <div class="card">
                <div class="fold"></div>
                <div class="fold"></div>
                <div class="fold"></div>
                <div class="fold"></div>
                <div class="fold"></div>
                <span class="enter-text">Enter</span>
            </div>
        </a>
    </div>

</body>
</html>